html {
  @include primary-copy-font;
  color: $base-text-color;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  height: 100%;
}

a {
  text-decoration: none;
  color: $white;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
