@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'Roboto';

  src: url('../fonts/roboto-regular/roboto.woff2') format('woff2');
  src: url('../fonts/roboto-regular/roboto.eot') format('embedded-opentype'),
    url('../fonts/roboto-regular/roboto.otf') format('otf'),
    url('../fonts/roboto-regular/roboto.svg') format('svg'),
    url('../fonts/roboto-regular/roboto.ttf') format('truetype'),
    url('../fonts/roboto-regular/roboto.woff') format('woff');
}

