@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'Inter';

  src: url('../fonts/Inter-Regular.woff2') format('woff2');
  src: url('../fonts/Inter-Regular.eot') format('embedded-opentype'),
    url('../fonts/Inter-Regular.otf') format('otf'),
    url('../fonts/Inter-Regular.svg') format('svg'),
    url('../fonts/Inter-Regular.ttf') format('truetype'),
    url('../fonts/Inter-Regular.woff') format('woff');
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: 'Inter';

  src: url('../fonts/Inter-Bold.woff2') format('woff2');
  src: url('../fonts/Inter-Bold.eot') format('embedded-opentype'),
    url('../fonts/Inter-Bold.otf') format('otf'),
    url('../fonts/Inter-Bold.svg') format('svg'),
    url('../fonts/Inter-Bold.ttf') format('truetype'),
    url('../fonts/Inter-Bold.woff') format('woff');
}

