// Colors
// Color names - http://chir.ag/projects/name-that-color/

$black: #000000;
$white: #ffffff;
$pickled_bluewood_text: #283136;
$cod_gray: #151515;
$blue_ribbon: #0066ff;

// Body
$base-text-color: $cod_gray;
$secondary-text-color: $white;

// Headings
$base-headings-color: $black;
