// Colors
// Color names - http://chir.ag/projects/name-that-color/

$black: #000000;
$pickled_bluewood_text: #283136;

// Body
$base-text-color: $pickled_bluewood_text;
$secondary-text-color: $black;

// Headings
$base-headings-color: $black;
