.advantages {
  &__title {
    text-align: center;
    margin-bottom: 5rem;

    @include desktop-and-less {
      margin-bottom: vw(50);
    }
  }

  &__list {
    display: flex;
    gap: 4rem;

    @include desktop-and-less {
      gap: vw(40);
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__item {
    display: grid;
    justify-items: center;
    gap: 3rem;
    max-width: 27rem;

    @include desktop-and-less {
      gap: vw(30);
    }
  }

  &__icon {
    width: 15rem;
    height: 15rem;
    border: 0.2rem solid $blue_ribbon;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    & svg {
      width: 6rem;
      height: 3.9rem;
      fill: $blue_ribbon;
      stroke: $blue_ribbon;
    }

    @include desktop-and-less {
      width: vw(150);
      height: vw(150);
      border: vw(2) solid $blue_ribbon;

      & svg {
        width: vw(60);
        height: vw(39);
      }
    }
  }

  &__subtitle {
  }

  &__text {
    font-weight: 400;
    line-height: 1.3;
  }
}
