.container {
  max-width: 122rem;
  padding: 0 1rem;
  margin: 0 auto;

  @include desktop-and-less {
    max-width: vw(1220);
    padding: 0 vw(10);
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
    @include desktop-and-less {
      position: relative;
      align-items: center;
      padding: 0 vw(40);
    }
  }

  &--main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
    margin-top: 15rem;
    
    &:last-child {
      margin-bottom: 15rem;
    }
    
    @include desktop-and-less {
      padding: 0 vw(10);
      padding-top: vw(150);
      margin-top: 0;

      &:last-child {
        margin-bottom: vw(100);
      }
    }
  }

  &--footer {
    flex-direction: column;
    align-items: center;
  }
}
