.contacts {
  text-align: center;

  &__title {
  }

  &__subtitle {
    margin-top: 2rem;

    @include desktop-and-less {
      margin-top: vw(20);
    }
  }

  &__form {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    max-width: 58rem;
    width: 100%;

    @include desktop-and-less {
      grid-template-columns: 1fr;
      margin-top: vw(50);
      gap: vw(50);
    }
  }

  &__input {
  }

  &__message {
    grid-column: 1/3;
    resize: none;

    @include desktop-and-less {
      grid-column: 1/2;
    }
  }

  &__wrap-buttons {
    grid-column: 1/3;

    @include desktop-and-less {
      grid-column: 1/2;
    }
  }

  &__btn {
    max-width: 18.4rem;
    margin: 0 auto;

    @include desktop-and-less {
      max-width: vw(184);
    }
  }
}
