.header-top {
  text-align: center;
  background-position: center;
  color: $white;
  position: absolute;
  top: 248px;
  left: 0;
  right: 0;
  z-index: 11;

  &__title {
    font-size: 96px;
    line-height: 1.21;
    max-width: 874px;
    color: $white;
    margin: 0 auto;
  }

  &__btn {
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 36px;
    background: $cod_gray;
    color: $white;
    max-width: 430px;
    width: 100%;
    margin-top: 28px;
    padding: 23px 0;
  }
}
