.header-top {
  text-align: center;
  background-position: center;
  color: $white;
  position: absolute;
  top: 248px;
  left: 0;
  right: 0;
  z-index: 11;

  &__title {
    font-size: 9.6rem;
    line-height: 1.21;
    max-width: 874px;
    color: $white;
    margin: 0 auto;
  }

  &__btn {
    margin-top: 28px;
  }
}
