.header {
  padding:  4.5rem 0 4rem;
  background: $cod_gray;

  @include desktop-and-less {
    padding: vw(45) 0 vw(40);
  }

  &--main {
    background: transparent;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 11;
  }
}
