.menu {
  &__list {
    display: flex;
    justify-content: space-between;
    gap: 35px;
  }

  &__item {
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 700;
  }

  &__link {
    color: $white;
  }
}
